# Enable rewrite engine and route requests to framework
RewriteEngine On

# Some servers require you to specify the `RewriteBase` directive
# In such cases, it should be the path (relative to the document root)
# containing this .htaccess file
#
# RewriteBase /

RewriteRule ^(tmp)\/|\.ini$ - [R=404]

# changing rewrites of files
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*\.css)$ app/views/html/css/$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*/([0-9a-z_]+\.css)$ app/views/html/css/$2 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*\.png)$ app/views/html/img/$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*/([0-9a-z_]+\.png)$ app/views/html/img/$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^/.]+\.svg)$ app/views/html/img/$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*/([0-9a-z_]+\.svg)$ app/views/html/img/$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*\.js)$ app/views/html/js/$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*/([0-9a-z_]+\.js)$ app/views/html/js/$1 [L,QSA]

# changing rewrites of requests
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L,QSA]
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]
