/*Стили профиля*/
.test_line{
    padding: 5px 0;
    text-decoration: none;
    color: inherit;
}
    .test_line:hover{
        transition: all 100ms;
        
        background-color:var(--test-selection-color);
    }


/*ava*/
.ava_img{
    width: 180px;
    height: 180px;
    display: block;
    border-radius:50%;
    overflow: hidden;
    
}
.ava_img img{
    width:100%;
    height: 100%;
}
.ava_img{
    /*Размер как на youtube*/
    width:124px;
    height: 124px;
}
.profile_info{
    margin:20px auto 10px auto;
    text-align: center;
}


