.content{
  max-width: 900px;
  margin: 0 auto;
}
  .start_test_btn {
    display: block;
    min-width: 50%;
    box-sizing: border-box;

    padding: 5px 20px;
    margin: 10px 0;
    line-height: 1.2em;

    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;

    background: var(--test-btn-alt-bg-color);
    border: 4px solid var(--test-btn-alt-txt-color);
    color: var(--test-btn-alt-txt-color);   
  }
  @media(max-width:600px){
    .start_test_btn{
        min-width: 80%
    }
  }
  .start_test_btn:hover, .start_test_btn_disabled{
    background: var(--test-btn-bg-color);
    color:var(--test-btn-txt-color);
    transition: all 200ms;
  }
.file_wrap {
  position: relative;
}
.file_wrap img{
  max-height: 300px;
  max-width: 300px;
  display: block;
}
.file_wrap video{
  display: block;
  max-width: 100%;
  
}
.open_video_btn{
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;

  transform: translate(-50%,-50%);
}
