/*============Форма входа==============*/
.welcome{
	font-family: 'Francois One', sans-serif;
	width:100%;
  height:calc(100vh - 64px);

}
	.ComeIn{
		width:400px;
	  background-color:var(--high-bg-color);
		box-shadow:0 0 50px 0px rgba(93, 93, 93, 0.25);
		border-radius:15px;
		border: 2px solid var(--btn-bg-color);
		 position: relative;
		 overflow:hidden;
		 display:block;
		 margin: auto 0;
	}
/*-------Красивый ввод пароля------*/
.LogIn{
	text-align: center;
	width:100%;
	margin:30px auto;
}
.LogInTxt{
	display:block;
	margin: 10px 20px 30px;
	font-size:16px;
}

	/* form starting stylings ------------------------ */
.group {
left:50%;
margin-left:-160px;
width:320px;
  position: relative;
  margin-bottom: 30px;
}

.UserIn {
  font-size: 16px;
  padding: 10px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #ccc;
}
.UserIn:focus {
  outline: none;
}
/* LABEL ======================================= */
label {
  color: #999;
  font-size: 16px;
  position: absolute;
  pointer-events: none;
  width:auto;
  left: 10px;
  top: 12px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}


/* active state */

.UserIn[type="email"]:invalid ~ label,.UserIn:focus ~ label{
	color: var(--alert-txt-color);
	top: -25px;
}
.UserIn:valid ~ label{
	top: -25px;
	color: var(--success-txt-color);
  }

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 320px;
}
.bar:before, .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: var(--accent-color);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before,
input:focus ~ .bar:after
{
  outline: none;
  width: 50%;
}
/*========Красивый ввод пароля Конец========*/
.Entering{
	width:100%;
}
.EnterBtn{
  width:320px;
  height:50px;
  font-size:16px;
  border:none;
  background-color:var(--btn-bg-color);
  color:var(--btn-txt-color);
  font-weight: bold;
}
.EnterBtn:hover{
  cursor:pointer;
  color:  var(--btn-alt-txt-color);
  background-color:var(--btn-alt-bg-color);
  transition: all 200ms ;
}
#reg_txt{
  width: 99%;
}