/*Стили профиля*/
.test_line{
    padding: 5px 0;
    text-decoration: none;
    color: inherit;
}
    .test_line:hover{
        transition: all 100ms;
        
        background-color:var(--test-selection-color);
    }


/*ava*/
.profile_info{
    margin:20px auto 10px auto;
    text-align: center;
}
#ex_variants{
    max-width: 95%;
}

.settings{
    width:30px;
    height: 30px;
}
.settings img{
    width:100%;
}

.right_block_profile{
    width: 300px;
    margin-left:20px;
    box-sizing: border-box;
}
    .right_block_profile .note{
        border: 5px solid rgb(124, 161, 43);;
    }
.prof_op_page{
    width: 130px;
}
.center_page{
    width:660px;
}
.ch_ava_btn{
    display: none;
}


@media(max-width:1100px){
    .center_page{
        width: 100%;
    }
    .right_block_profile{
        width: 100%;
        margin: 0;
    }
}